<ion-view view-title="Food">
  <ion-content scroll="false" class="padding">

  <style>
    .padding {background-image: url("img/field.png");}

    #food {
      text-align: center;
      width: 3em;
      z-index: 1;
    }

    #rock {
      text-align: center;
      margin-top: 20em;
      z-index: 0;
      position: relative;
    }

  </style>
    <div>
      <div id="rock" style='border-style: solid; border-width: 5px;' ng-drop="true" ng-drop-success="onDropComplete($data,$event)" >
        <img ng-src="{{creatures[0].gif}}"/>
      </div>

      <div id="food" style="border-style:solid; border-width: 5px;" ng-drag="true" ng-drag-data="food[0]" ng-drag-success="onDragComplete($data,$event)" ng-center-anchor="true" data-allow-transform="false">
        <img id="food[0]" ng-src="{{food[0].face}}"/>
        {{food[0]}}
      </div>
    </div>

  </ion-content>
</ion-view>
